h2.qna-heading {
    font-family: 'MaruBuri-Regular';
    text-align: center; /* 텍스트를 가운데 정렬 */
    font-weight: bold; /* 볼드체로 설정 */
    font-size: 2.5em; /* 글자 크기 조정 */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}