body {
    font-family: 'MaruBuri-Regular';
    margin-bottom: 70px;
    background-color: #f9f9f9;
}

h2 {
    text-align: left;
    font-weight: bold;
    font-size: 2em;
    color: #000;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.input-group {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
}

.input-group > .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group-append {
    display: flex;
}

.btn-outline-secondary {
    color: #000;
    background-color: transparent;
    border-color: #000;
}

.btn-outline-dark {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.list-container {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 20px;
}

.list-header, .list-item {
    display: flex;
    padding: 10px 0;
}

.list-header {
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.list-item {
    border-bottom: 1px solid #dee2e6;
}

.list-item a {
    color: #000;
    text-decoration: none;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: #000;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.wide-container {
    padding-left: 10%;
    padding-right: 10%;
}

.text-center {
    text-align: center;
}

.page-number {
    font-size: 1em;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .wide-container {
        padding-left: 4%;
        padding-right: 4%;
    }
}
