{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주야간 보호서비스 세부정보</title>
    <link rel="stylesheet" href="{% static 'css/welfare1/Mstyle.css' %}">
    <style>
        /* 텍스트에 적용할 글꼴 */
        body, h1, h2, p, a, th, td {
            font-family: 'MaruBuri-Regular';
            font-weight: bold; /* MaruBuri-Regular 글꼴*/
            
        }
    </style>
</head>

<header>

    <script src="{% static 'js/welfare1/script.js' %}"></script>
</header>

<body>
    <div class="container">

            <table>
                <tr>
                    <th>번호</th>
                    <th>요양원명</th>
                    <th>주소</th>
                    <th>담당자</th>
                    <th>전화번호</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>상계데이케어센터</td>
                    <td>덕릉로115나길 25 (1층)</td>
                    <td>김원효</td>
                    <td>02-951-9997</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>중계데이케어센터</td>
                    <td>덕릉로 662 (1층)</td>
                    <td>구종회</td>
                    <td>02-952-0502</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>시립노원노인종합복지관병설노원데이케어센터</td>
                    <td>노원로16길 15 912동 B1층</td>
                    <td>박지은</td>
                    <td>02-948-1532</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>노원1종합사회복지관 부설 노원1치매데이케어센터</td>
                    <td>월계로 372 (1층)</td>
                    <td>김윤희</td>
                    <td>02-974-0755</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>공릉데이케어센터</td>
                    <td>동일로 1127 (1층)</td>
                    <td>노유환</td>
                    <td>02-971-0524</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>평화행복한데이케어센터</td>
                    <td>노원로 331 (3층)</td>
                    <td>장재섭</td>
                    <td>02-949-0124</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>노원실버데이케어센터</td>
                    <td>동일로 1097 (4층)</td>
                    <td>이수남</td>
                    <td>02-978-7722</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>시립중계노인요양원병설데이케어센터</td>
                    <td>섬밭로 313</td>
                    <td>민동세</td>
                    <td>02-3399-7560</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>상계동성당데이케어센터</td>
                    <td>덕릉로 736</td>
                    <td>유태준</td>
                    <td>02-952-2680</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>태릉데이케어센터</td>
                    <td>동일로176길47-18 (공릉동)</td>
                    <td>최희영</td>
                    <td>02-977-9171</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>당고개데이케어센터</td>
                    <td>덕릉로126길11 (상계동,신천지빌딩2,4층)</td>
                    <td>김현숙</td>
                    <td>02-3392-5542</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>부모사랑데이케어센터</td>
                    <td>월계로338, 상가A동501호 (월계동,신도브래뉴)</td>
                    <td>안교문</td>
                    <td>02-909-0213</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>한세 (주.야간)노인복지센터</td>
                    <td>덕릉로126다길7-7,1층 (상계동)</td>
                    <td>이기숙</td>
                    <td>02-930-5001</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>노원인지재활데이케어센터</td>
                    <td>노원로 246, 8층 801호 (하계동, 욱현하이브)</td>
                    <td>김찬정</td>
                    <td>02-978-2877</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>태릉365데이케어센터</td>
                    <td>화랑로421,3층 (공릉동,한일휴니스빌)</td>
                    <td>이미정</td>
                    <td>02-977-9177</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>햇님달님데이케어센터 상계점</td>
                    <td>덕릉로 799, 2층 (상계동, A-ONE프라자)</td>
                    <td>강선녀</td>
                    <td>02-933-6588</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>노블레스데이케어센터</td>
                    <td>노원로 479, 4층 (상계동, 대광빌딩)</td>
                    <td>양순모</td>
                    <td>02-939-2220</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>효사랑나눔데이케어센터</td>
                    <td>덕릉로712-4, 2층 (중계동)</td>
                    <td>조종례</td>
                    <td>02-931-7959</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>수락데이케어센터</td>
                    <td>수락산로 222, 4층 (상계동)</td>
                    <td>장현준</td>
                    <td>02-2138-0355</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>노원바른데이케어센터</td>
                    <td>덕릉로 680, 2층 (중계동, 보고프라자)</td>
                    <td>한규선</td>
                    <td>02-6369-2550</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>만나데이케어센터</td>
                    <td>상계로27길 12, 501호 (상계동)</td>
                    <td>이성균</td>
                    <td>02-934-9188</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>솔향주야간보호센터</td>
                    <td>한글비석로15길 27, 6층 (중계동,월산빌딩)</td>
                    <td>이규면</td>
                    <td>02-938-2021</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>고수련노인복지센터</td>
                    <td>상계로27길 32,5층 (상계동)</td>
                    <td>도은숙</td>
                    <td>070-8279-0333</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>서울송담데이케어센터</td>
                    <td>상계로27길 12,501호</td>
                    <td>김창호</td>
                    <td>02-932-1033</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>늘봄데이케어센터</td>
                    <td>한글비석로47길 58, 2층 (상계동)</td>
                    <td>문덕흥</td>
                    <td>02-949-2229</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>늘푸른데이케어센터</td>
                    <td>공릉로43길 18 2층</td>
                    <td>강기운</td>
                    <td>02-977-7767</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>88재활데이케어센터</td>
                    <td>상계로27길 12,503호</td>
                    <td>김현승</td>
                    <td>02-6053-0088</td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>가온데이케어</td>
                    <td>상계로9길 23, 5층(상계동,사용빌딩)</td>
                    <td>강정애</td>
                    <td>02-934-7002</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>나무주간보호센터</td>
                    <td>화랑로 463 2층</td>
                    <td>고유성</td>
                    <td>02-2088-6531</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>월계효사랑나눔센터</td>
                    <td>광운로12길 6(월계동)</td>
                    <td>홍혜순</td>
                    <td>02-914-9477</td>
                   
                </tr>
               
            </table>
            
        </div>
    </div>
</body>
<br>
<br>
<br>
{% endblock %}
