{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>노인복지관 세부정보</title>
    <link rel="stylesheet" href="{% static 'css/welfare1/Mstyle.css' %}">
    <style>
        /* 텍스트에 적용할 글꼴 */
        body, h1, h2, p, a, th, td {
            font-family: 'MaruBuri-Regular';
            font-weight: bold; /* MaruBuri-Regular 글꼴*/
            
        }
    </style>
</head>



<body>
    <div class="container">

            <table>
                <thead>
                    <tr>
                        <th>센터명</th>
                        <th>주소</th>
                        <th>전화번호</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>파티마재가복지센터</td>
                        <td>서울특별시 노원구 중계로 160 2층207호 (중계동, 화인상가)</td>
                        <td>02-933-0705</td>
                    </tr>
                    <tr>
                        <td>노원실버사랑 간호요양센터</td>
                        <td>서울특별시 노원구 노원로 434 205호 (상계동, 중앙하이츠2차아파트상가)</td>
                        <td>02-931-6262</td>
                    </tr>
                    <tr>
                        <td>희망씨앗 재가복지센터</td>
                        <td>서울특별시 노원구 월계3동 321번지 2호 희성프라자 B 309</td>
                        <td>02-948-7979</td>
                    </tr>
                    <tr>
                        <td>어진모노인복지센터</td>
                        <td>서울특별시 노원구 초안산로5길 12 203호 (월계동, 월계프라자)</td>
                        <td>02-948-0134</td>
                    </tr>
                    <tr>
                        <td>재가복지센터 온누리</td>
                        <td>서울특별시 노원구 한글비석로 396 109동2층34,35호 (상계동, 벽산아파트)</td>
                        <td>02-935-7953</td>
                    </tr>
                    <tr>
                        <td>성민재가장기요양센터</td>
                        <td>서울특별시 노원구 노원로 440 (상계동, 비전센터 4층)</td>
                        <td>02-934-4241</td>
                    </tr>
                    <tr>
                        <td>사회복지법인 한국봉사회(북부다나을방문요양센터)</td>
                        <td>서울특별시 노원구 동일로245길 56 (상계동)</td>
                        <td>02-952-7188</td>
                    </tr>
                    <tr>
                        <td>고수련노인복지센터</td>
                        <td>서울특별시 노원구 상계로27길 32 5층 (상계동, 대명빌딩)</td>
                        <td>070-8279-0333</td>
                    </tr>
                    <tr>
                        <td>성모노인복지센터</td>
                        <td>서울특별시 노원구 동일로 1116 1층106호 (공릉동)</td>
                        <td>02-6080-3911</td>
                    </tr>
                    <tr>
                        <td>나눔과 사랑 노인방문요양 파견센터</td>
                        <td>서울특별시 노원구 한글비석로 91 (하계동, 하계1차청구아파트 정문상가 2층 208호)</td>
                        <td>02-972-3494</td>
                    </tr>
                    <tr>
                        <td>참빛 재가복지센터</td>
                        <td>서울특별시 노원구 상계로 193-14 2층202호 (상계동, 상계대림종합상가)</td>
                        <td>02-939-9060</td>
                    </tr>
                    <tr>
                        <td>개미방문요양센터</td>
                        <td>서울특별시 노원구 한글비석로 396 109동동207호 (상계동, 벽산아파트 상가)</td>
                        <td>02-939-2675</td>
                    </tr>
                    <tr>
                        <td>돌보인방문요양센터 상계점</td>
                        <td>서울특별시 노원구 중계2.3동 141번지 40호 4층</td>
                        <td>02-931-0970</td>
                    </tr>
                    <tr>
                        <td>늘편한방문요양센터</td>
                        <td>서울특별시 노원구 한글비석로54길 116 214호 (상계동)</td>
                        <td>02-6339-5740</td>
                    </tr>
                    <tr>
                        <td>실버천사 방문요양센터</td>
                        <td>서울특별시 노원구 공릉로58길 126 (하계동, 102호)</td>
                        <td>02-976-5300</td>
                    </tr>
                    <tr>
                        <td>㈜가온사랑재가복지센터</td>
                        <td>서울특별시 노원구 동일로195길 7 4층401호 (공릉동)</td>
                        <td>02-948-5112</td>
                    </tr>
                    <tr>
                        <td>삼성노인복지센터</td>
                        <td>서울특별시 노원구 상계10동 694번지 임광상가 306호</td>
                        <td>02-939-3114</td>
                    </tr>
                    <tr>
                        <td>A1 성심재가복지센터</td>
                        <td>서울특별시 노원구 노원로22길 77 B14호 (중계동, 건영아파트 상가)</td>
                        <td>02-930-2140</td>
                    </tr>
                    <tr>
                        <td>사랑과 섬김 재가복지센터</td>
                        <td>서울특별시 노원구 한글비석로 396 109동 258호 (상계동, 벽산아파트 상가)</td>
                        <td>02-930-5403</td>
                    </tr>
                    <tr>
                        <td>서울HS재가복지센터</td>
                        <td>서울특별시 노원구 한글비석로 383 지하1층12호 (중계동)</td>
                        <td>02-6956-9910</td>
                    </tr>
                    <tr>
                        <td>햇살재가요양센터</td>
                        <td>서울특별시 노원구 동일로 1530 408호 (상계동, 다모아 빌딩)</td>
                        <td>02-932-2277</td>
                    </tr>
                    <tr>
                        <td>가온재가복지센터</td>
                        <td>서울특별시 노원구 동일로195길 7 4층402호 (공릉동)</td>
                        <td>02-948-5112
                        </td>
                    </tr>
                    <tr>
                        <td>동훈재가노인복지센터</td>
                        <td>서울특별시 노원구 상계2동 387번지 17호 2층</td>
                        <td>02-931-1511
                        </td>
                    </tr>
                    <tr>
                        <td>서울노인재가복지회</td>
                        <td>서울특별시 노원구 상계로31길 24 (상계동)</td>
                        <td>010-7664-3837
                        </td>
                    </tr>
                    <tr>
                        <td>참조은재가복지센타</td>
                        <td>서울특별시 노원구 월계로55길 3 (월계동, 사슴아파트3단지 상가 202호)</td>
                        <td>02-954-1818
                        </td>
                    </tr>
                    <tr>
                        <td>스마일방문요양센터</td>
                        <td>서울특별시 노원구 공릉로 430 102동302호 (중계동, 중앙아쿠아아파트)</td>
                        <td>02-976-0471
                        </td>
                    </tr>
                    <tr>
                        <td>하나재가복지센터</td>
                        <td>서울특별시 노원구 상계로12길 22 지층 (상계동)</td>
                        <td>02-6498-3574
                        </td>
                    </tr>
                    <tr>
                        <td>기쁨재가복지센터</td>
                        <td>서울특별시 노원구 상계로26길 20 상가동205호 (상계동, 대동청솔아파트)</td>
                        <td>02-3392-1004
                        </td>
                    </tr>
                    <tr>
                        <td>아이실버케어서비스</td>
                        <td>서울특별시 노원구 동일로 1370 4층1호 (상계동, 현대프라자)</td>
                        <td>02-939-9945
                        </td>
                    </tr>
                    <tr>
                        <td>청지기재가센터</td>
                        <td>서울특별시 노원구 화랑로 449-7 302호 (공릉동, 로우폴리스)</td>
                        <td>02-976-4007
                        </td>
                    </tr>
                    <tr>
                        <td>만세방문요양센터</td>
                        <td>서울특별시 노원구 동일로 1100 2층 (공릉동, 씨엘빌딩)</td>
                        <td>02-978-1003
                        </td>
                    </tr>
                    <tr>
                        <td>보은재가복지센터</td>
                        <td>서울특별시 노원구 덕릉로118길 29 113호 (상계동, 불암현대아파트 상가)</td>
                        <td>02-933-0946

                        </td>
                    </tr>
                    <tr>
                        <td>A+효담라이프케어 공릉방문요양센터</td>
                        <td>서울특별시 노원구 동일로 1036 5층501호 (공릉동, JW빌딩)</td>
                        <td>02-938-9151
                        </td>
                    </tr>
                    <tr>
                        <td>은빛사랑</td>
                        <td>서울특별시 노원구 상계로 193-14 8호 (상계동, 대림쇼핑센타 지하1층)</td>
                        <td>02-1800-9481
                        </td>
                    </tr>
                    <tr>
                        <td>A+효담라이프케어 태릉방문요양센터</td>
                        <td>서울특별시 노원구 동일로 1036 5층502호 (공릉동, JW빌딩)</td>
                        <td>02-972-9151
                        </td>
                    </tr>
                    <tr>
                        <td>좋은아침재가복지센터</td>
                        <td>서울특별시 노원구 노원로 333 B6호 (중계동, 목련상가)</td>
                        <td>02-978-2770
                        </td>
                    </tr>
                    <tr>
                        <td>소나무 노인방문 요양센터</td>
                        <td>서울특별시 노원구 석계로11길 33 1층 (월계동)</td>
                        <td>02-2233-7424
                        </td>
                    </tr>
                    <tr>
                        <td>늘푸른돌봄센터 노원점</td>
                        <td>서울특별시 노원구 노원로 333 208호 (중계동, 목련아파트 상가)</td>
                        <td>02-973-8373
                        </td>
                    </tr>
                    <tr>
                        <td>부모사랑 사회복지센터</td>
                        <td>서울특별시 노원구 광운로 48 2층 (월계동)</td>
                        <td>02-909-0213
                        </td>
                    </tr>
                    <tr>
                        <td>가족재가복지</td>
                        <td>서울특별시 노원구 한글비석로24라길 84 101호 (상계동)</td>
                        <td>02-951-1477
                        </td>
                    </tr>
                    <tr>
                        <td>성은노인재가센터</td>
                        <td>서울특별시 노원구 동일로175길 12-1 1층 (공릉동)</td>
                        <td>02-977-9966
                        </td>
                    </tr>
                    <tr>
                        <td>고운복지센터</td>
                        <td>서울특별시 노원구 노원로 564 1013동101호 (상계동, 상계주공10단지아파트)</td>
                        <td>070-8820-7922
                        </td>
                    </tr>
                    <tr>
                        <td>효성방문요양센터</td>
                        <td>서울특별시 노원구 한글비석로20길 14 4층 (중계동)</td>
                        <td>02-939-5493
                        </td>
                    </tr>
                    <tr>
                        <td>희망 방문요양센터</td>
                        <td>서울특별시 노원구 동일로 1493 (상계동, 주공10단지 종합상가 B-42)</td>
                        <td>02-931-8253
                        </td>
                    </tr>
                    <tr>
                        <td>우리노인복지센터</td>
                        <td>서울특별시 노원구 한글비석로15길 48 3층307호 (중계동, 현대종합상가)</td>
                        <td>02-931-0682
                        </td>
                    </tr>
                    <tr>
                        <td>효사랑나눔재가센터</td>
                        <td>서울특별시 노원구 덕릉로 712-4 4층402호 (중계동)</td>
                        <td>02-936-0615
                        </td>
                    </tr>
                    <tr>
                        <td>예은재가복지센터</td>
                        <td>서울특별시 노원구 덕릉로 804 (상계동, 지층101호)</td>
                        <td>02-934-5548
                        </td>
                    </tr>
                    <tr>
                        <td>생명샘요양보호사파견센터</td>
                        <td>서울특별시 노원구 덕릉로86길 70 (중계동, 청암아파트 305동 304호)</td>
                        <td>02-3391-5997
                        </td>
                    </tr>
                    <tr>
                        <td>가나네트워크 재가센터</td>
                        <td>서울특별시 노원구 상계로39길 14 2층 (상계동)</td>
                        <td>02-932-5501
                        </td>
                    </tr>
                    <tr>
                        <td>다사랑노인복지센터</td>
                        <td>서울특별시 노원구 월계로 264 201-1호 (월계동)</td>
                        <td>02-916-9222
                        </td>
                    </tr>
                    <tr>
                        <td>부자노인복지센터</td>
                        <td>서울특별시 노원구 공릉로63길 13 302(일부)호 (하계동)</td>
                        <td>02-952-0119
                        </td>
                    </tr>
                    <tr>
                        <td>나눔과행복</td>
                        <td>서울특별시 노원구 광운로 17-11 (월계동, 2층)</td>
                        <td>02-941-1195
                        </td>
                    </tr>
                    <tr>
                        <td>한국방문요양재가센터</td>
                        <td>서울특별시 노원구 상계1동 1110번지 6호 두산아파트단지 종합상가 211호</td>
                        <td>02-933-0023
                        </td>
                    </tr>
                    <tr>
                        <td>경희간호요양센터</td>
                        <td>서울특별시 노원구 동일로 1700 1118호 (상계동, 토마토파르코)</td>
                        <td>02-937-0708
                        </td>
                    </tr>
                    <tr>
                        <td>경성실버복지센터</td>
                        <td>서울특별시 노원구 덕릉로126마길 18-4 1층 (상계동)</td>
                        <td>02-6221-4904
                        </td>
                    </tr>
                    <tr>
                        <td>시니어케어24 노원</td>
                        <td>서울특별시 노원구 동일로 1426 603호 (상계동, 미도빌딩)</td>
                        <td>02-936-7277
                        </td>
                    </tr>
                    <tr>
                        <td>노원이레케어</td>
                        <td>서울특별시 노원구 공릉1동 609번지 2호</td>
                        <td>02-976-3838
                        </td>
                    </tr>
                    <tr>
                        <td>나눔복지재가센터</td>
                        <td>서울특별시 노원구 덕릉로 804 311호 (상계동)</td>
                        <td>02-434-7400
                        </td>
                    </tr>
                    <tr>
                        <td>햇님달님데이케어센터 상계점</td>
                        <td>서울특별시 노원구 덕릉로 799 2층 (상계동, A-ONE프라자)</td>
                        <td>02-933-6588
                        </td>
                    </tr>
                    <tr>
                        <td>(A)가족케어사랑</td>
                        <td>서울특별시 노원구 한글비석로 396 108동1층11호 (상계동, 벽산아파트 상가)</td>
                        <td>02-977-0078
                        </td>
                    </tr>
                    <tr>
                        <td>수남 플러스 재가센터</td>
                        <td>서울특별시 노원구 한글비석로24라길 78 1층 (상계동)</td>
                        <td>02-6465-9457
                        </td>
                    </tr>
                    <tr>
                        <td>강북어르신방문센터</td>
                        <td>서울특별시 노원구 동일로 1280 2단지상가동지하7호 (중계동)</td>
                        <td>02-930-5477
                        </td>
                    </tr>
                    <tr>
                        <td>가나안재가복지센터</td>
                        <td>서울특별시 노원구 덕릉로115나길 46 (상계동)</td>
                        <td>02-952-4264
                        </td>
                    </tr>
                    <tr>
                        <td>우리재가복지센타</td>
                        <td>서울특별시 노원구 초안산로5길 22 202호 (월계동, 월계대우아파트상가)</td>
                        <td>02-992-8303
                        </td>
                    </tr>
                    <tr>
                        <td>효자재가복지센터</td>
                        <td>서울특별시 노원구 덕릉로 791 205, 206호 (상계동, 버나드빌)</td>
                        <td>02-931-1292
                        </td>
                    </tr>
                    <tr>
                        <td>마니또 재가노인복지센타</td>
                        <td>서울특별시 노원구 한글비석로 396 108동2층225호 (상계동, 벽산아파트 복합상가)</td>
                        <td>02-951-0888
                        </td>
                    </tr>
                    <tr>
                        <td>수락재가요양센터</td>
                        <td>서울특별시 노원구 동일로241나길 4 1층102호 (상계동)</td>
                        <td>02-952-5279
                        </td>
                    </tr>
                    <tr>
                        <td>다한 노인복지센터</td>
                        <td>서울특별시 노원구 동일로191길 9 3층 (공릉동)</td>
                        <td>02-972-1488
                        </td>
                    </tr>
                    <tr>
                        <td>늘새롬사회복지센터</td>
                        <td>서울특별시 노원구 광운로2나길 50 라동3층6호 (월계동)</td>
                        <td>02-942-7159
                        </td>
                    </tr>
                    <tr>
                        <td>평화실버하우스</td>
                        <td>서울특별시 노원구 중계2.3동 514번지 3호 목련아파트상가 208</td>
                        <td>02-975-0030
                        </td>
                    </tr>
                    <tr>
                        <td>호성사회복지센터</td>
                        <td>서울특별시 노원구 동일로 1700 1311호 (상계동, 토마토파르코)</td>
                        <td>02-979-1225
                        </td>
                    </tr>
                    <tr>
                        <td>열린재가복지센터</td>
                        <td>서울특별시 노원구 한글비석로 383 1층29,49호 (중계동, 삼창타워프라자)</td>
                        <td>02-997-7737
                        </td>
                    </tr>
                    <tr>
                        <td>노원마을재가복지센터</td>
                        <td>서울특별시 노원구 노원로 540 1층111호 (상계동, 상계주공아파트9단지종합상가)</td>
                        <td>02-6958-8130
                        </td>
                    </tr>
                    <tr>
                        <td>라그라스 재가방문요양센터</td>
                        <td>서울특별시 노원구 덕릉로86길 27 101호 (중계동, 아원빌딩)</td>
                        <td>010-5460-7814
                        </td>
                    </tr>
                    <tr>
                        <td>(A)정원재가복지센터</td>
                        <td>서울특별시 노원구 상계로 193-14 2층205호 (상계동, 상계대림아파트)</td>
                        <td>02-934-3613
                        </td>
                    </tr>
                    <tr>
                        <td>시민재가센터</td>
                        <td>서울특별시 노원구 공릉로 325-7 2층 (하계동)</td>
                        <td>02-971-5252
                        </td>
                    </tr>
                    <tr>
                        <td>노원효사랑 재가복지센터</td>
                        <td>서울특별시 노원구 동일로182길 47-7 101호 (공릉동, 루시아빌)</td>
                        <td>02-977-1488
                        </td>
                    </tr>
                    <tr>
                        <td>가가호호A+방문요양센터</td>
                        <td>서울특별시 노원구 동일로241길 53 상가동2층217호 (상계동)</td>
                        <td>02-935-8280
                        </td>
                    </tr>
                    <tr>
                        <td>가나안재가복지센터</td>
                        <td>서울특별시 노원구 덕릉로 777 1층 (상계동)</td>
                        <td>02-952-4264
                        </td>
                    </tr>
                    <tr>
                        <td>만나데이케어센터</td>
                        <td>서울특별시 노원구 상계로27길 12 2층 (상계동)</td>
                        <td>02-934-9188
                        </td>
                    </tr>
                    <tr>
                        <td>다모아재가복지센터</td>
                        <td>서울특별시 노원구 덕릉로 804 211호 (상계동)</td>
                        <td>02-931-0676
                        </td>
                    </tr>
                    <tr>
                        <td>가나방문요양센터</td>
                        <td>서울특별시 노원구 동일로232길 27 102호 (상계동)</td>
                        <td>010-6733-2627</td>
                    </tr>
                    <tr>
                        <td>라온방문요양센터</td>
                        <td>서울특별시 노원구 동일로193길 33 B01호 (공릉동, 한빛빌라)</td>
                        <td>02-6369-9800</td>
                    </tr>
                    <tr>
                        <td>노원민들레재가복지센터</td>
                        <td>서울특별시 노원구 공릉로59길 28 B1층12호 (하계동, 미성상가)</td>
                        <td>02-977-3904</td>
                    </tr>
                    <tr>
                        <td>진방문요양센터</td>
                        <td>서울특별시 노원구 상계로23길 40 1층좌측호 (상계동)</td>
                        <td>02-6013-0966</td>
                    </tr>
                    <tr>
                        <td>(A)비지팅엔젤스 노원방문요양지점</td>
                        <td>서울특별시 노원구 한글비석로20길 62 502호 (중계동)</td>
                        <td>02-932-4230</td>
                    </tr>
                    <tr>
                        <td>가나재가복지센터</td>
                        <td>서울특별시 노원구 상계로12길 35-5 1층 (상계동)</td>
                        <td>02-933-5070</td>
                    </tr>
                    <tr>
                        <td>사랑나눔재가복지센터</td>
                        <td>서울특별시 노원구 한글비석로46길 52 1층103호 (상계동)</td>
                        <td>02-932-1502</td>
                    </tr>
                    <tr>
                        <td>가연 재가복지센터</td>
                        <td>서울특별시 노원구 상계로12길 35-9 (상계동)</td>
                        <td>02-951-7774</td>
                    </tr>
                    <tr>
                        <td>더즐거운재가복지센터</td>
                        <td>서울특별시 노원구 동일로174길 27 2층 (공릉동)</td>
                        <td>02-941-8536</td>
                    </tr>
                    <tr>
                        <td>＂A+＂축복 재가복지센터</td>
                        <td>서울특별시 노원구 초안산로1길 15 상가 7701동205호 (월계동, 월계1단지주공영구임대(아))</td>
                        <td>02-915-2911</td>
                    </tr>
                    <tr>
                        <td>무지개방문요양센터</td>
                        <td>서울특별시 노원구 마들로 127 상가동1층4호 (월계동)</td>
                        <td>02-974-2340</td>
                    </tr>
                    <tr>
                        <td>은혜재가복지센터</td>
                        <td>서울특별시 노원구 공릉로42길 21 102호 (공릉동)</td>
                        <td>02-979-7222</td>
                    </tr>
                    <tr>
                        <td>스마일시니어참사랑재가복지센터</td>
                        <td>서울특별시 노원구 상계로23다길 47-3 101호 (상계동)</td>
                        <td>070-7543-0506</td>
                    </tr>
                    <tr>
                        <td>가온데이케어</td>
                        <td>서울특별시 노원구 상계로9길 23 4, 5층 (상계동, 사용빌딩)</td>
                        <td>02-934-7002</td>
                    </tr>
                    <tr>
                        <td>더좋은 방문요양센터</td>
                        <td>서울특별시 노원구 공릉로20길 22-1 B01호 (공릉동)</td>
                        <td>02-6397-0978</td>
                    </tr>
                    <tr>
                        <td>이레효재가복지센터</td>
                        <td>서울특별시 노원구 동일로242길 95 204호 (상계동, 수락현대아파트 상가)</td>
                        <td>02-931-2164</td>
                    </tr>
                    <tr>
                        <td>생생노원재가복지센터</td>
                        <td>서울특별시 노원구 동일로191가길 25 2층 (공릉동)</td>
                        <td>02-948-9915</td>
                    </tr>
                    <tr>
                        <td>행복나눔방문요양센터</td>
                        <td>서울특별시 노원구 덕릉로 780 142호 (상계동, 동아불암아파트상가)</td>
                        <td>02-960-4872</td>
                        </tr>
                        <tr>
                        <td>주맘방문요양센터</td>
                        <td>서울특별시 노원구 한글비석로 422 5층 (상계동)</td>
                        <td>02-930-1288</td>
                        </tr>
                        <tr>
                        <td>가나방문요양</td>
                        <td>서울특별시 노원구 초안산로 7 205호 (월계동, 월계2단지주공아파트)</td>
                        <td>02-902-8869</td>
                        </tr>
                        <tr>
                        <td>순수재가복지센터</td>
                        <td>서울특별시 노원구 동일로214길 21 412동2004호 (상계동, 상계주공4단지아파트)</td>
                        <td>02-1599-2677</td>
                        </tr>
                        <tr>
                        <td>노아복지재가센터</td>
                        <td>서울특별시 노원구 한글비석로20길 57 403호 (중계동)</td>
                        <td>02-6369-0787</td>
                        </tr>
                        <tr>
                        <td>참사랑재가복지센터</td>
                        <td>서울특별시 노원구 동일로221길 22 1동1008호 (상계동, 대림아파트)</td>
                        <td>02-933-4779</td>
                        </tr>
                        <tr>
                        <td>행복플러스재가센터</td>
                        <td>서울특별시 노원구 덕릉로 459-18 103호 (상계동, 미도아파트)</td>
                        <td>02-934-9994</td>
                        </tr>
                        <tr>
                        <td>해담방문요양재가센터</td>
                        <td>서울특별시 노원구 공릉로34길 62 1층103호 (공릉동, 태강아파트 제상가동)</td>
                        <td>02-978-8985</td>
                        </tr>
                        <tr>
                        <td>좋은아침재가복지센터 노원점</td>
                        <td>서울특별시 노원구 노원로 331 상가 301동108호 (중계동, 시영3단지목련아파트)</td>
                        <td>02-971-7771</td>
                        </tr>
                        <tr>
                        <td>건강과행복 방문요양센터</td>
                        <td>서울특별시 노원구 한글비석로48길 6 상가동111호,112호 (상계동, 한신아파트)</td>
                        <td>02-6015-0688</td>
                        </tr>
                        <tr>
                        <td>이편한동행 사회적협동조합</td>
                        <td>서울특별시 노원구 한글비석로 422 4층 (상계동, 대창빌딩)</td>
                        <td>02-933-9201</td>
                        </tr>
                        <tr>
                        <td>노원실버 방문요양센터</td>
                        <td>서울특별시 노원구 한글비석로31길 22 1층 (상계동)</td>
                        <td>010-5723-1591</td>
                        </tr>
                        <tr>
                        <td>나무그늘재가복지센터</td>
                        <td>서울특별시 노원구 동일로 1279 B103호 (중계동, 중계그린아파트 B 상가)</td>
                        <td>02-978-2212</td>
                        </tr>
                        <tr>
                        <td>케어닥 방문요양센터 노원점</td>
                        <td>서울특별시 노원구 동일로 1014-1 2층201호 (공릉동)</td>
                        <td>02-971-9861</td>
                        </tr>
                        <tr>
                        <td>불암방문요양센터</td>
                        <td>서울특별시 노원구 덕릉로 780 101동218호 (상계동, 동아불암아파트)</td>
                        <td>02-933-3440</td>
                        </tr>
                        <tr>
                        <td>행복동행 방문요양센터</td>
                        <td>서울특별시 노원구 한글비석로44길 13 B01호 (상계동, 우측 일부)</td>
                        <td>02-935-5925</td>
                        </tr>
                        <tr>
                        <td>사랑재가복지센터</td>
                        <td>서울특별시 노원구 덕릉로126길 35 (상계동)</td>
                        <td>02-930-5253</td>
                        </tr>
                        <tr>
                        <td>고은사랑방문요양센터</td>
                        <td>서울특별시 노원구 노원로16길 82 206,111호 (하계동, 중계9단지주공영구임대아파트)</td>
                        <td>02-972-8884</td>
                        </tr>
                        <tr>
                        <td>마들복지센터</td>
                        <td>서울특별시 노원구 상계8동 주공아파트 1115 1209</td>
                        <td>02-933-7922</td>
                        </tr>
                        <tr>
                        <td>오순도순재가복지센터</td>
                        <td>서울특별시 노원구 노원로38길 76 102동103호 (상계동)</td>
                        <td>02-6091-6761</td>
                        </tr>
                        <tr>
                        <td>정다운재가복지센터</td>
                        <td>서울특별시 노원구 덕릉로118길 29 3층310호 (상계동, 불암현대아파트상가)</td>
                        <td>02-932-3396</td>
                        </tr>
                        <tr>
                        <td>(A)이레재가복지센터</td>
                        <td>서울특별시 노원구 한글비석로54길 116 2층204호 (상계동)</td>
                        <td>02-937-3007</td>
                        </tr>
                        <tr>
                        <td>물댄동산 재가복지센터</td>
                        <td>서울특별시 노원구 석계로15길 25 (월계동, 월계1차한일아파트 상가, 지하)</td>
                        <td>02-409-4373</td>
                        </tr>
                        <tr>
                        <td>가온누리방문요양센터</td>
                        <td>서울특별시 노원구 한글비석로49길 27 1층 (상계동)</td>
                        <td>02-937-1852</td>
                        </tr>
                        <tr>
                        <td>노원시니어방문요양센터</td>
                        <td>서울특별시 노원구 섬밭로 263 지하7호 (중계동)</td>
                        <td>02-977-7959</td>
                        </tr>
                        <tr>
                        <td>좋은만남 방문요양센터</td>
                        <td>서울특별시 노원구 노원로19길 23 상가동2층205-5호 (중계동)</td>
                        <td>02-996-2422</td>
                        </tr>
                        <tr>
                        <td>온누리복지센터</td>
                        <td>서울특별시 노원구 상계로1길 74 409호 (상계동, 동진상가)</td>
                        <td>02-939-4008</td>
                        </tr>
                        <tr>
                        <td>하계방문요양센터</td>
                        <td>서울특별시 노원구 섬밭로 190 3층301-2호 (하계동)</td>
                        <td>02-977-1554</td>
                        </tr>
                        <tr>
                        <td>담터재가 복지센터</td>
                        <td>서울특별시 노원구 공릉로 154-13 B02호 (공릉동)</td>
                        <td>02-977-4626</td>
                        </tr>
                        <tr>
                        <td>가가호호 방문요양상계센터</td>
                        <td>서울특별시 노원구 한글비석로24길 14 4층A412호 (상계동)</td>
                        <td>070-4046-7007</td>
                        </tr>
                        <tr>
                        <td>The기쁨 재가노인복지센터</td>
                        <td>서울특별시 노원구 초안산로5길 22 203호 (월계동, 월계대우아파트 상가동)</td>
                        <td>02-903-7911</td>
                        </tr>
                        <tr>
                        <td>가나 플러스 복지센터</td>
                        <td>서울특별시 노원구 상계로35길 2 3층 (상계동)</td>
                        <td>02-939-1598</td>
                        </tr>
                        <tr>
                        <td>꽃길방문요양센터</td>
                        <td>서울특별시 노원구 동일로242나길 20 105동202호 (상계동, 수락산 늘푸른아파트)</td>
                        <td>070-8118-9991</td>
                        </tr>
                        <tr>
                        <td>참좋은돌봄 재가노인복지센터</td>
                        <td>서울특별시 노원구 공릉로63길 13 201호 (하계동, 유토피아빌딩)</td>
                        <td>02-949-7750</td>
                        </tr>
                        <tr>
                        <td>달빛방문요양센터</td>
                        <td>서울특별시 노원구 한글비석로24가길 20 (상계동)</td>
                        <td>02-6398-1707</td>
                        </tr>
                        <tr>
                        <td>가족사랑복지타운</td>
                        <td>서울특별시 노원구 동일로187길 18 2층 (공릉동)</td>
                        <td>02-909-8115</td>
                        </tr>
                        <tr>
                        <td>다담 노인복지센터</td>
                        <td>서울특별시 노원구 노원로16길 15 1층10호 (하계동, 중계9단지주공영구임대아파트상가)</td>
                        <td>02-937-1101</td>
                        </tr>
                        <tr>
                        <td>시정재가요양센터</td>
                        <td>서울특별시 노원구 마들로 111 307호 (월계동, 삼호종합상가)</td>
                        <td>02-949-0932</td>
                        </tr>
                        <tr>
                        <td>늘푸른데이케어센터</td>
                        <td>서울특별시 노원구 공릉로43길 18 2층 (공릉동)</td>
                        <td>02-977-7767</td>
                        </tr>
                        <tr>
                            <td>아리아케어 방문요양 노원 공릉센터</td>
                            <td>서울특별시 노원구 화랑로51길 17 상가2동2층204호 (공릉동, 화랑타운아파트)</td>
                            <td>02-972-9979</td>
                            </tr>
                            <tr>
                            <td>건강백세재가요양기관</td>
                            <td>서울특별시 노원구 한글비석로 332 201호 (중계동, 주공2단지상가)</td>
                            <td>02-935-0070</td>
                            </tr>
                            <tr>
                            <td>평안방문복지센터</td>
                            <td>서울특별시 노원구 한글비석로 444 102, 103호 (상계동)</td>
                            <td>02-939-4160</td>
                            </tr>
                            <tr>
                            <td>다원방문요양센터</td>
                            <td>서울특별시 노원구 동일로183길 12-18 300호 (공릉동)</td>
                            <td>02-973-1113</td>
                            </tr>
                            <tr>
                            <td>(A)비지팅엔젤스 노원공릉방문요양지점</td>
                            <td>서울특별시 노원구 동일로173가길 81 203호 (공릉동)</td>
                            <td>02-6465-3881</td>
                            </tr>
                            <tr>
                            <td>행복누리재가복지센터</td>
                            <td>서울특별시 노원구 노원로 421 마상가동212호 (상계동)</td>
                            <td>02-931-3957</td>
                            </tr>
                            <tr>
                            <td>도란도란방문요양센터</td>
                            <td>서울특별시 노원구 동일로192나길 14 101호 (공릉동, 리더밸리)</td>
                            <td>02-6225-5807</td>
                            </tr>
                            <tr>
                            <td>조은요양방문센터</td>
                            <td>서울특별시 노원구 덕릉로 780 101동221호 (상계동, 동아불암상가)</td>
                            <td>070-8117-9831</td>
                            </tr>
                            <tr>
                            <td>가족마음재가복지센터</td>
                            <td>서울특별시 노원구 한글비석로31가길 17 1층101호 (상계동)</td>
                            <td>02-6369-2549</td>
                            </tr>
                            <tr>
                            <td>조은나무 방문요양센터</td>
                            <td>서울특별시 노원구 화랑로45길 10-1 101호 (월계동)</td>
                            <td>02-977-9071</td>
                            </tr>
                            <tr>
                            <td>실로암노인케어센터</td>
                            <td>서울특별시 노원구 동일로216길 47 508동108호 (상계동, 상계주공5단지아파트)</td>
                            <td>02-6225-1639</td>
                            </tr>    
                </table>
        </div>
    </div>
</body>
<br>
<br>
<br>
{% endblock %}
