{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>노인교실 세부정보</title>
    <link rel="stylesheet" href="{% static 'css/welfare1/Mstyle.css' %}">
    <style>
        /* 텍스트에 적용할 글꼴 */
        body, h1, h2, p, a, th, td {
            font-family: 'MaruBuri-Regular';
            font-weight: bold; /* MaruBuri-Regular 글꼴*/
            
        }
    </style>
</head>

<body>
    <div class="container">


            
            <table> 
                <thead>
                    <tr>
                        <th>센터명</th>
                        <th>주소</th>
                        <th>전화번호</th>
                    </tr>
                </thead>
            <tr>
                <td>노원실버사랑 간호요양센터</td>
                <td>서울특별시 노원구 노원로 434 205호 (상계동, 중앙하이츠2차아파트상가)</td>
                <td>02-931-6262</td>
                
                </tr>
                <tr>
                <td>고수련노인복지센터</td>
                <td>서울특별시 노원구 상계로27길 32 5층 (상계동)</td>
                <td>070-8279-0333</td>
                </tr>
                <tr>
                <td>파티마재가복지센터</td>
                <td>서울특별시 노원구 중계로 160 2층207호 (중계동, 화인상가)</td>
                <td>02-933-0705</td>
                </tr>
                <tr>
                <td>A+효담라이프케어 태릉방문요양센터</td>
                <td>서울특별시 노원구 동일로 1036 5층502호 (공릉동, JW빌딩)</td>
                <td>02-972-9151</td>
                </tr>
                <tr>
                <td>A+효담라이프케어 공릉방문요양센터</td>
                <td>서울특별시 노원구 동일로 1036 5층501호 (공릉동, JW빌딩)</td>
                <td>02-938-9151</td>
                </tr>
                <tr>
                <td>열린재가복지센터</td>
                <td>서울특별시 노원구 한글비석로 383 1층29,49호 (중계동, 삼창타워프라자)</td>
                <td>02-997-7737</td>
                </tr>
                <tr>
                <td>라그라스 재가방문요양센터</td>
                <td>서울특별시 노원구 덕릉로86길 27 101호 (중계동, 아원빌딩)</td>
                <td>010-5460-7814</td>
                </tr>
                <tr>
                <td>가온데이케어</td>
                <td>서울특별시 노원구 상계로9길 23 4, 5층 (상계동, 사용빌딩)</td>
                <td>02-934-7002</td>
                </tr>
                <tr>
                <td>행복동행 방문요양센터</td>
                <td>서울특별시 노원구 한글비석로44길 13 B01호 (상계동, 우측 일부)</td>
                <td>02-935-5925</td>
                </tr>
                <tr>
                <td>평안방문복지센터</td>
                <td>서울특별시 노원구 한글비석로 444 102, 103호 (상계동)</td>
                <td>02-939-4160</td>
                </tr>
                <tr>
                <td>경희간호요양센터</td>
                <td>서울특별시 노원구 동일로 1700 1118호 (상계동, 토마토파르코)</td>
                <td>02-937-0708</td>
                </tr>
        
            </table>
            
                    </div>
                </div>
            </body>
            <br>
            <br>
            <br>
{% endblock %}
